# Dependencies
node_modules/

# Turbo
.turbo/

# Build outputs
dist/
build/
.expo/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# EAS
.easignore
